---
import Layout from '../layouts/Layout.astro'
import '@fontsource-variable/figtree'
---

<Layout title='Blog Card - FerKH'>
  <main class='bg-7-yellow min-h-dvh flex items-center justify-center font-figtree text-7-black font-semibold px-4'>
    <article id="card" class='bg-white rounded-3xl border-7-black border p-6 w-[335px] [box-shadow:8px_8px_#121212] transition duration-100 hover:[box-shadow:12px_12px_#121212]'>
      <img
        src='/7-illustration-article.svg'
        alt='blog'
        loading='lazy'
        height="208"
        class='rounded-xl mb-6 object-cover h-52 w-full'
      />
      <div class='bg-7-yellow px-3 py-1 w-fit rounded-md mb-4'>
        <p class="font-extrabold text-sm">Learning</p>
      </div>
      <p class="text-xs mb-3">  Published 21 Dec 2023      </p>
      <section class="mb-6">
        <h3 id="title" class='font-extrabold text-xl mb-3 cursor-pointer transition hover:text-7-yellow'>HTML & CSS foundations</h3>
        <p class='text-7-grey text-sm'>
          These languages are the backbone of every website, defining structure,
          content, and presentation.
        </p>
      </section>
      <footer class='flex gap-3 items-center'>
        <img src='/7-image-avatar.webp' alt='avatar' width="32" height="32" />
        <p class="font-extrabold">Greg Hooper</p>
      </footer>
    </article>
  </main>
</Layout>

