---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Trabajando...">
	<main class="h-dvh flex flex-col items-center justify-center">
		<h1 class="text-center font-bold text-4xl mb-8">Página en construcción...</h1>
		<img src="https://i.pinimg.com/originals/ce/a5/cb/cea5cba8e1b097805c3a54ec6e59a21a.gif" alt="working">
	</main>
</Layout>
